/* This file is for styling all the types of buttons. */

.btn, .btn-outline {
    margin: 0.25rem;
    border: 2px solid $text;
    border-radius: 0.6rem;
    padding: 0.5rem 1.5rem;
}

.btn:hover, .btn-outline:hover {
    cursor: pointer;
    box-shadow: 0 0px 10px $text;
}

.btn {
    color: $background;
    background-color: $text;
    transition: box-shadow 0.2s ease;
}

.btn-outline {
    color: $text;
    background-color: transparent;
    transition: box-shadow 0.2s ease, background-color 0.2s ease;
}

.btn-outline:hover {
    background-color: $background-transparent;
    opacity: 0.95;
}

.btn:active, .btn-outline:active {
    box-shadow: none !important;
}

.btn-prim {
    border-color: $prim-bg-color
}

.btn-prim:hover {
    box-shadow: 0 0 10px $prim-bg-color
}

.btn.btn-prim {
    background-color: $prim-bg-color
}

.btn-outline.btn-prim {
    color: $prim-bg-color;
}

.btn-outline.btn-prim:hover {
    background-color: $prim-bg-color-transparent
}

.btn-sec {
    border-color: $sec-bg-color;
}

.btn-sec:hover {
   box-shadow: 0 0 10px $sec-bg-color
}

.btn.btn-sec {
    background-color: $sec-bg-color;
}

.btn-outline.btn-sec {
    color: $sec-bg-color;
}

.btn-outline.btn-sec:hover {
    background-color: $sec-bg-color-transparent;
}

.btn-success {
    border-color: $success-bg-color;
}

.btn-success:hover {
    box-shadow: 0 0 10px $success-bg-color
}

.btn.btn-success {
    background-color: $success-bg-color;
}

.btn-outline.btn-success {
    color: $success-bg-color;
}

.btn-outline.btn-success:hover {
    background-color: $success-bg-color-transparent;
}

.btn-danger {
    border-color: $danger-bg-color;
}

.btn-danger:hover {
    box-shadow: 0 0 10px $danger-bg-color
}

.btn.btn-danger {
    background-color: $danger-bg-color;
}

.btn-outline.btn-danger {
    color: $danger-bg-color;
}

.btn-outline.btn-danger:hover {
    background-color: $danger-bg-color-transparent;
}

.btn-warning {
    border-color: $warning-bg-color;
    color: $text;
}

/* This extra styling is to make sure the text is also visible on the button
 * in dark mode. Without it the text would be white on a yellow background,
 * which is not readable.
 */
.btn.btn-warning {
    color: #252525;
}

.btn-warning:hover {
    box-shadow: 0 0 10px $warning-bg-color
}

.btn.btn-warning {
    background-color: $warning-bg-color;
}

.btn-outline.btn-warning:hover {
    background-color: $warning-bg-color-transparent;
}

.btn-pill {
    border-radius: 50px;
}

.disable {
    opacity: 0.65;
}

.disable:hover {
    cursor: not-allowed !important;
    box-shadow: none !important;
}

.disable.btn-outline:hover {
    background-color: transparent;
    opacity: 0.65;
}