/* This file is for styling all the types of buttons. */

.btn, .btn-outline {
    margin: 0.25rem;
    border: 2px solid $text;
    border-radius: 0.6rem;
    padding: 0.5rem 1.5rem;
}

.btn:hover, .btn-outline:hover {
    cursor: pointer;
    box-shadow: 0 0px 10px $text;
}

.btn {
    color: $background;
    background-color: $text;
    transition: box-shadow 0.2s ease;
}

.btn-outline {
    color: $text;
    background-color: transparent;
    transition: box-shadow 0.2s ease, background-color 0.2s ease;
}

.btn-outline:hover {
    background-color: $background-transparent;
    opacity: 0.95;
}

.btn:active, .btn-outline:active {
    box-shadow: none !important;
}

.btn-prim {
    border-color: $btn-prim-bg-color
}

.btn-prim:hover {
    box-shadow: 0 0 10px $btn-prim-bg-color
}

.btn.btn-prim {
    background-color: $btn-prim-bg-color
}

.btn-outline.btn-prim {
    color: $btn-prim-bg-color;
}

.btn-outline.btn-prim:hover {
    background-color: $btn-prim-bg-color-transparent
}

.btn-sec {
    border-color: $btn-sec-bg-color;
}

.btn-sec:hover {
   box-shadow: 0 0 10px $btn-sec-bg-color
}

.btn.btn-sec {
    background-color: $btn-sec-bg-color;
}

.btn-outline.btn-sec {
    color: $btn-sec-bg-color;
}

.btn-outline.btn-sec:hover {
    background-color: $btn-sec-bg-color-transparent;
}

.btn-danger {
    border-color: $btn-danger-bg-color;
}

.btn-danger:hover {
    box-shadow: 0 0 10px $btn-danger-bg-color
}

.btn.btn-danger {
    background-color: $btn-danger-bg-color;
}

.btn-outline.btn-danger {
    color: $btn-danger-bg-color;
}

.btn-outline.btn-danger:hover {
    background-color: $btn-danger-bg-color-transparent;
}

.btn-warning {
    border-color: $btn-warning-bg-color;
    color: $text;
}

.btn-warning:hover {
    box-shadow: 0 0 10px $btn-warning-bg-color
}

.btn.btn-warning {
    background-color: $btn-warning-bg-color;
}

.btn-outline.btn-warning:hover {
    background-color: $btn-warning-bg-color-transparent;
}

.btn-pill {
    border-radius: 50px;
}

.disable {
    opacity: 0.65;
}

.disable:hover {
    cursor: not-allowed !important;
    box-shadow: none !important;
}

.disable.btn-outline:hover {
    background-color: transparent;
    opacity: 0.65;
}