@media (prefers-color-scheme: dark) {
    :root {
        --text: #ffffff;
        --light-text: #acacac;
        --background: #252525;
        --background-transparent: #ffffff1d;
        --gray: #4b4b4b;
        --shadow: #c1c1c1;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --text: #252525;
        --light-text: #646464;
        --background: #ffffff;
        --background-transparent: #2525251d;
        --gray: #f0f0f0;
        --shadow: #f0f0f0;
    }
}

$link-color: #33b9f7;
$link-hover-color: #3398f7;

$prim-bg-color: #33b9f7;
$prim-bg-color-transparent: #33b9f71d;
$sec-bg-color: #9c9d9e;
$sec-bg-color-transparent: #9c9d9e1d;
$success-bg-color: #48ea5a;
$success-bg-color-transparent: #48ea5a1d;
$danger-bg-color: #ea5348;
$danger-bg-color-transparent: #ea53481d;
$warning-bg-color: #eadf48;
$warning-bg-color-transparent: #eadf481d;

$shadow: var(--shadow);
$gray: var(--gray);
$light-text: var(--light-text);
$text: var(--text);
$background: var(--background);
$background-transparent: var(--background-transparent)
