@use 'reset';
@use 'fonts';
@use 'button';

[data-mode="dark"] {
    --std-txt-color: #ffffff;
    --std-bg-color: #1c1c1c;
    --std-btn-color: #1c1c1c;
    --std-btn-bg-color: #ffffff;
    --std-btn-bg-color-transparent: #ffffff1d;
}

[data-mode="light"] {
    --std-txt-color: #1c1c1c;
    --std-bg-color: #ffffff;
    --std-btn-color: #ffffff;
    --std-btn-bg-color: #1c1c1c;
    --std-btn-bg-color-transparent: #1c1c1c1d;
}

* {
    font-family: 'BeVietnamPro', sans-serif;
    color: var(--std-txt-color);
}

div {
    background-color: var(--std-bg-color);
}

.fnt-light {
    font-weight: 200;
}

.fnt-normal {
    font-weight: 400;
}

.fnt-bold {
    font-weight: 600;
}