/* This file bundles all the scss together and has general styling rules. */
@import 'variables';
@import 'reset';
@import 'fonts';
@import 'button';
@import 'section';
@import 'flex';
@import 'badges';

* {
    font-family: 'BeVietnamPro', sans-serif;
    color: $text;
    box-sizing: border-box;
}

body {
    background-color: $background;
}

h1, h2, h3, h4, h5 {
    margin-top: 0;
}

div {
    background-color: $background;
}

nav ul {
    padding: 0.25rem;
    margin: 0.25rem;
}

nav ul li {
    margin: 0.25rem;
}

a {
    color: $link-color;
    transition: 0.2s color ease;
}

a:hover {
    color: $link-hover-color;
}

.fnt-light {
    font-weight: 200;
}

.fnt-normal {
    font-weight: 400;
}

.fnt-bold {
    font-weight: 600;
}

.blk {
    display: block;
}

.inline-blk {
    display: inline-block;
}

.hide {
    display: none;
}

code.inline-blk {
    overflow: visible;
}

code {
    background-color: $shadow;
    color: $text;
    padding: 0.5rem;
    margin: 0.25rem;
    border-radius: 10px;
    display: block;
    white-space: nowrap;
    overflow-x: auto;
}

code>* {
    font-family: monospace;
    display: block;
}